[Desktop Entry]
Version=1.0
Name=beggar 
Comment=beggar P2P Cryptocurrency
Comment[fr]=beggar, monnaie virtuelle cryptographique pair à pair
Comment[tr]=beggar, eşten eşe kriptografik sanal para birimi
Exec=beggar-qt %u
Terminal=false
Type=Application
Icon=beggar128
MimeType=x-scheme-handler/beggar;
Categories=Office;Finance;
StartupWMClass=beggar-qt
